{% extends "base_admin.html" %}
{% block title %}Admin{% endblock %}
{% block contenido %}
<h2>Inscriptos</h2>
<small>
<table id="inscriptos" class="table table-condensed">
<tr>
  <th>Titulo</th>
  <th>Presentante</th>
  <th>Es serie</th>
</tr>
{% for dato in datos %}
{% set id = dato["id"] %}
<tr>
  <td><a href="{{ url_for('admin_inscripcion', id_inscripcion=id) }}">{{ dato["titulo_obra"] }}</a></td>
  <td>{{ dato["nombre_presentante"] }}</td>
  <td>{% if dato["es_serie_obra"] == 1 %}<span class="glyphicon glyphicon-ok-sign"></span>{% endif %}</td>
</tr>
{% endfor %}
</table>
</small>
{% endblock %}
