{% extends "base.html" %}
{% block title %}Hola{% endblock %}
{% block contenido %}
<h2>Participá de El Ventilador</h2>
<p>Envianos tu obra de animación para la segunda edición del festival El Ventilador.
<ol>
  <li>Leé las bases y condiciones, y constatá que estás de acuerdo con las mismas.  Podés contactanos por cualquier duda.</li>
  <li>Subi tu obra a algún sitio donde podamos descargarla, como por ejemplo Dropbox, WeTransfer, Google Drive. Alternativamente, podes enviárnosla por correo postal.</li>
  <li>Completá el formulario de inscripción</li>
</ol>

<a class="btn btn-success" href="{{ url_for('static', filename='venti/files/bases-el_ventilador.pdf') }}">Descargar bases y condiciones</a> 
<a class="btn btn-success" href="{{ url_for('formu') }}">Llenar el formulario de inscripción</a>
{% endblock %}
